@charset "UTF-8";


/* fonts */

@font-face{
  font-family:Batch;
  src:url('../fonts/batch.eot');
  src:url('../fonts/batch.eot?#iefix') format('embedded-opentype'),
    url('../fonts/batch.woff') format('woff'),
    url('../fonts/batch.ttf') format('truetype'),
    url('../fonts/batch.svg#batchregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

/* responsive */

@media (max-width: 320px) {
  .what{width:260px;}
  .what_spc {margin:0 auto;}
  .fs_container {width: 300px;margin:0 auto;}
  h1 {font-size:44px;line-height:60px;}
  .live_feeling{padding:10px 0px;}
  .live_feeling_quote {width:120px;}
  .my_feelings_holder{
    padding:20px 0;
  }
}
@media (min-width: 600px) {
  .what{width:355px}
  .what_spc {margin:0 45px 0 15px;}
  .fs_container {width: 580px;margin:0 auto}
  h1 {font-size:60px;line-height:60px;}
  .my_feelings_holder{
    padding:14px 12px;
  }
}
@media (min-width: 880px) {
  .fs_container {width: 860px;margin:0 auto}
}
@media (min-width: 1160px) {
  .fs_container {width: 1140px;margin:0 auto}
}
@media (min-width: 1440px) {
  .fs_container {width: 1420;margin:0 auto}
}
@media(max-width: 640px){
.fs_menu { display:none;padding:0 20px;}
.fs_nav_dropdown { display:inline-block }
}
@media(min-width: 641px){
.fs_menu { display:inline-block;padding:0 6px;}
.fs_nav_dropdown { display:none}
.live_feeling{padding:10px 8px;}
.live_feeling_quote {width:140px;}
}


/* override */

[class^="icon-"],
[class*=" icon-"] {vertical-align:text-bottom}
.modal {width:320px;margin-left:-160px;}



/* common */

a {text-decoration: none;color:#afafcc;}
input[type="text"],
input[type='password'],
textarea {
  background-color:#ffffff;
  color:#afafcc;
  font-size:12px;
  width:100%;
  padding:4px 6px 4px 6px;
  line-height:20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border:1px solid #afafcc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
textarea {outline:none;resize:none;}

input[type="text"], input[type='password'] {
outline:none;
  -webkit-appearance:none;
  height:30px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  outline:2px solid #afafcc;
}
ul {overflow:hidden;list-style:none;margin:0;padding:0;}
li{overflow:hidden;display:inline-block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
div {overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

h2 {margin:0;padding:0;font-weight:bold;display:inline-block;font-size:20px;line-height:24px;}
h3 {margin:0;padding:0;font-weight:bold;display:inline-block;font-size:25px;line-height:30px;}
h4 {margin:0;padding:0;font-weight:bold;display:inline-block;font-size:16px;line-height:24px;}
h5 {margin:0;padding:0;font-weight:normal;display:inline-block;font-size:13px;line-height:18px;}
h6 {margin:0;padding:0;font-weight:normal;display:inline-block;font-size:12px;line-height:18px;color:#bbbbbb;}


/* common classes */
.batch-icon {
  font-family:"Batch";
  line-height:1;
  font-style:normal;
  display:inline-block;
}
.rd6 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.rd10 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
.bd1{
  border-bottom:1px solid #dddddd
}
.bd2{
  border-bottom:2px solid #dddddd
}

._l {float:left}
._r {float:right}
._lspc {margin-left:10px}
._rspc {margin-right:10px}
._lspc2 {margin-left:4px}
._rspc2 {margin-right:4px}
._ofh {overflow:hidden}
._pad10 {padding:10px}
.fs_link {cursor:pointer}
.talk_submit,
.likeit,
.fs_submit {
  cursor:pointer;
  display: inline-block;
  padding: 10px 0;
  width:240px;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  border:1px solid #4c4d5f;
  background-color:#4c4d5f;
    -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.likeit,
.talk_submit{
  background-color:#4c4d5f;
  color:#ffffff;
  border:none;
  padding:4px 0;
  margin:0 6px;
  width:100px;
  font-size:12px;
  font-weight:bold;
}
.fs_cancel {
  cursor:pointer;
  display: inline-block;
  padding: 10px 0;
  margin:0 20px;
  width:240px;
  font-size: 13px;
  line-height: 20px;
  color: #afafcc;
  text-align: center;
  background-color:#ffffff;
  border:1px solid #afafcc;
    -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
._sd2 {
	-webkit-box-shadow: 7px 7px 7px rgba(50, 50, 50, 1);
	-moz-box-shadow:    7px 7px 7px rgba(50, 50, 50, 1);
	box-shadow:         7px 7px 7px rgba(50, 50, 50, 1);
}
._sd1 {
	-webkit-box-shadow: 0px 3px 7px 2px rgba(150,151,168,0.77);
	-moz-box-shadow: 0px 3px 7px 2px rgba(150,151,168,0.77);
	box-shadow: 0px 3px 7px 2px rgba(150,151,168,0.77);
}
._sd0 {
	-webkit-box-shadow: 0px 3px 7px 2px rgba(76,76,95,0.5);
	-moz-box-shadow: 0px 3px 7px 2px rgba(76,76,95,0.5);
	box-shadow: 0px 3px 7px 2px rgba(76,76,95,0.5);
  /*-webkit-box-shadow: 0px 3px 7px 2px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 3px 7px 2px rgba(255,255,255,0.5);
	box-shadow: 0px 3px 7px 2px rgba(255,255,255,0.5);*/
}

/* layout */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:40px 0;margin:0;font-size:13px;
  color:#afafcc;
  background-color:#ffffff;
  /*background-color:*/
  /*background-image:url(../img/back-billiard-blur.jpg);background-repeat:no-repeat;background-size:cover;*/
  /*background-image:url(../img/back-billiard-blur-white.jpg);background-repeat:no-repeat;background-attachment:fixed;background-position:left top;background-size:cover;*/
  }
#fs_navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  /*background-color:#4c4d5f;*/
  background-color:#ffffff;
  border-bottom:1px solid #afafcc;
  color:#afafcc;
  overflow:visible;
}
.fs_menu{
  overflow:visible;
}
.fs_menu_pop{
  display:block;clear:both;
}
.fs_menu.active {
  background-color:#afafcc;
}
.fs_menu.active{
  color:#ffffff;
}

#fs_header{
}
#fs_status{
}
#fs_body {

}
.me_holder {height:40px;overflow:hidden;padding-left:30px;}
.fs_tiles {position:relative;}
.card {width:260px;}
.main>.header0 {padding:12px 10px 10px 10px;}
.main>.content0-header {text-align:center;background-color:#E8E8E8;padding:30px 10px 16px 10px;}
.main>.content0-input {padding:0 10px 12px 10px;background-color:#E8E8E8}
.main>.content1-header { padding:10px 10px 8px 10px;}

.card>.inner>.header{padding:12px 0 5px 0;overflow:hidden;border-bottom:1px solid #ffffff;}
.card>.inner>.content{margin:22px 0 0 0;height:60px;}
.card>.inner>.content>._word{margin-right:10px;font-weight:bold;}

.my_feelings_holder{
}
.my_card {
  width:314px;float:left;
}

.talks {line-height:20px;}

.feeling{
  margin:4px;overflow:hidden;float:left;border:1px solid #afafcc;
}
.feeling > .ww {
  float:left;width:70px;text-align:center;line-height:34px;overflow:hidden;font-size:12px;
}
.feeling .active{
  background-color:#afafcc;color:#ffffff;
}
.live_feeling {
  line-height:18px;overflow:hidden;font-size:13px;margin-left:3px;
}
.live_feeling_quote {
  float:left;background-color:#ffffff;padding:8px 10px;overflow:hidden;font-size:12px;line-height:18px;
}
.profile{
  width:32px;height:32px;
  display:inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  max-width: 100%;
  background-size:30px 30px;
  margin:4px 8px 4px 4px;
}
.myprofile{
  background-image:url(../img/profile.jpg);
  background-size:32px 32px;
  background-repeat:no-repeat;
  background-color:#020303;
}
img.transparent {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";    /* IE 8 */
    filter: alpha(opacity=20);  /* IE 5-7 */
    -khtml-opacity: 0.2;    /* Safari 1.x */
    opacity: 0.2;  /* Good browsers */
}

#flipcard {
  background-color:#45474c;height:235px;color:#c6aae2;text-align:center;
}

em{
  content: "";
  height: 0;
  width: 0;
  margin-top:10px;
  border:4px solid transparent;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}

